<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>定时任务</title>
    <script src="/webjars/js/vue_2.6.14.min.js"></script>
    <link rel="stylesheet" href="/webjars/js/element-ui_2.15.8.min.css">
    <script src="/webjars/js/element-ui_2.15.8.min.js"></script>
</head>
<body>
<div id="app">
    <el-card shadow="never" class="aui-card--fill">
        <div class="mod-sched__task">
            <el-form :inline="true" :model="searchDataForm" size="small" @submit.native.prevent>
                <el-form-item>
                    <el-input v-model="searchDataForm.search" placeholder="关键词搜索" clearable></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button @click="queryDataList()">查询</el-button>
                </el-form-item>
            </el-form>
            <el-table v-loading="dataListLoading" :data="dataList" border style="width: 100%;">
                <el-table-column type="selection" header-align="center" align="center" width="50"></el-table-column>
                <el-table-column prop="name" :label="名称" header-align="center" align="center" min-width="120"></el-table-column>
                <el-table-column prop="params" :label="参数" header-align="center" align="center" width="200" class-name="nowrap json link" show-tooltip-when-overflow></el-table-column>
                <el-table-column prop="cron" label="cron" header-align="center" align="center" width="120"></el-table-column>
                <el-table-column prop="remark" :label="备注" header-align="center" align="center" show-tooltip-when-overflow></el-table-column>
                <el-table-column prop="state" :label="状态" sortable="custom" header-align="center" align="center">
                    <template slot-scope="scope">
                        <el-tag v-if="scope.row.state === 1" size="small">有效</el-tag>
                        <el-tag v-else size="small" type="danger">停用</el-tag>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination
                    :current-page="page"
                    :page-sizes="[10, 20, 50, 100]"
                    :page-size="limit"
                    :total="total"
                    layout="total, sizes, prev, pager, next, jumper"
                    @size-change="pageSizeChangeHandle"
                    @current-change="pageCurrentChangeHandle"></el-pagination>
        </div>
    </el-card>
</div>

<script>
    let app = new Vue({
        el: '#app',
        data() {
            return {
                // 搜索表单
                searchDataForm: {
                    search: ''
                },
                dataList: [], // 数据列表
                page: 1, // 当前页码
                limit: 10, // 每页数
                total: 0, // 总条数
                dataListLoading: false // 数据列表，loading状态
            }
        },
        methods: {
            pageSizeChangeHandle (val) {
                this.page = 1
                this.limit = val
                this.getDataList()
            },
            // 分页, 当前页
            pageCurrentChangeHandle (val) {
                this.page = val
                this.getDataList()
            },
            // 获取数据列表
            getDataList () {
                this.dataListLoading = true
                this.$http.get(
                    this.mixinListModuleOptions.getDataListURL,
                    {
                        params: {
                            order: this.order,
                            orderField: this.orderField,
                            page: this.mixinListModuleOptions.getDataListIsPage ? this.page : null,
                            limit: this.mixinListModuleOptions.getDataListIsPage ? this.limit : null,
                            ...this.searchDataForm
                        }
                    }
                ).then(({ data: res }) => {
                    if (res.code !== 0) {
                        this.onGetListError(res)
                    } else {
                        this.dataList = res.data.list
                        this.total = res.data.total
                    }
                }).finally(() => {
                    this.dataListLoading = false
                })
            },
            // 查询数据列表
            queryDataList () {
                this.page = 1
                this.getDataList()
            }
        }
    })
</script>
</body>
</html>
