<!DOCTYPE html>
<html>
<head>
<title>coder</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="css/main.css">
<script src="libs/jquery.min.js"></script>
<script src="plugins/layer/layer.js"></script>
<script src="libs/bootstrap.min.js"></script>
<script src="libs/vue.min.js"></script>
<script src="plugins/jqgrid/grid.locale-cn.js"></script>
<script src="plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="js/common.js"></script>
</head>
<body>
<div id="rrapp">
	<div class="grid-btn">
		<div class="form-group col-sm-2">
			<input type="text" class="form-control" v-model="q.driverClassName" placeholder="数据库驱动">
		</div>
		<div class="form-group col-sm-2">
			<input type="text" class="form-control" v-model="q.dbUrl" placeholder="数据库地址">
		</div>
		<div class="form-group col-sm-2">
			<input type="text" class="form-control" v-model="q.dbUsername" placeholder="数据库帐号">
		</div>
		<div class="form-group col-sm-2">
			<input type="text" class="form-control" v-model="q.dbPassword" placeholder="数据库密码">
		</div>
		<div class="form-group col-sm-2">
			<input type="text" class="form-control" v-model="q.keyword" placeholder="关键词">
		</div>
		<div class="form-group col-sm-2">
			<a class="btn btn-default" @click="query">查询</a>
			<a class="btn btn-primary" @click="generateDoc"><i class="fa fa-file-code-o"></i>&nbsp;生成文档</a>
		</div>
		<div class="form-group col-sm-2">
			<input type="text" class="form-control" v-model="q.codeGenerateConfig.tablePrefix" placeholder="表前缀">
		</div>
		<div class="form-group col-sm-2">
			<input type="text" class="form-control" v-model="q.codeGenerateConfig.packageName" placeholder="包名">
		</div>
		<div class="form-group col-sm-2">
			<input type="text" class="form-control" v-model="q.codeGenerateConfig.moduleName" placeholder="模块名">
		</div>
		<div class="form-group col-sm-2">
			<input type="text" class="form-control" v-model="q.codeGenerateConfig.authorName" placeholder="作者名">
		</div>
		<div class="form-group col-sm-2">
			<input type="text" class="form-control" v-model="q.codeGenerateConfig.authorEmail" placeholder="作者邮箱">
		</div>
		<div class="form-group col-sm-2">
			<input type="text" class="form-control" v-model="q.codeGenerateConfig.version" placeholder="版本号">
		</div>
		<a class="btn btn-primary" @click="generateCode"><i class="fa fa-file-code-o"></i>&nbsp;生成代码</a>
	</div>
    <table id="jqGrid"></table>
</div>
<script src="js/generator.js"></script>
</body>
</html>
