<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
    <link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/2.4.0/weui.min.css"/>
    <link rel="stylesheet" href="${ctx.contextPath}/static/css/common.css"/>
    <title>${data.name!}</title>
</head>
<body ontouchstart>
<div class="container" id="container">
    <div class="page article js_show">
        <div class="page__hd" style="padding: 10px;">
            <h1 class="page__title">${data.name!}</h1>
            <p class="page__desc">${data.author!}</p>
        </div>
        <div class="page__bd">
            <article class="weui-article">
                ${data.content!}
            </article>
        </div>
    </div>
</div>
<script type="text/javascript" src="//res.wx.qq.com/open/libs/weuijs/1.2.1/weui.min.js"></script>
<script type="text/javascript" src="${ctx.contextPath}/static/js/zepto.min.js"></script>
<script type="text/javascript" src="${ctx.contextPath}/static/js/common.js"></script>
</body>
</html>
