package ${package}.modules.${moduleName}.dto;

import ${package}.booster.pojo.BaseDTO;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import lombok.EqualsAndHashCode;

import java.util.Date;

#if(${hasBigDecimal})
import java.math.BigDecimal;

#end
/**
 * ${comments}
 *
 * @author ${author} ${email}
 */
@Data
@EqualsAndHashCode(callSuper = false)
@ApiModel(value = "${comments}")
public class ${className}DTO extends BaseDTO {
    private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
#if($column.columnName != 'id' && $column.columnName != 'creator' && $column.columnName != 'create_id'
&& $column.columnName != 'create_date' && $column.columnName != 'create_time'
&& $column.columnName != 'updater' && $column.columnName != 'update_id'
&& $column.columnName != 'update_date' && $column.columnName != 'update_time'
&& $column.columnName != 'del_flag' && $column.columnName != 'deleted')
	@ApiModelProperty(value = "$column.comments")
	private $column.attrType $column.attrname;

#end
#end
}
